<div class="backdrop" (click)="closeModal()"></div>
<form class="modal" [formGroup]="entranceForm" (ngSubmit)="onSubmit()" >
  <h1 class="name">Вход:</h1>
  <div class="alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>
  <div class="control">
    <div class="form-control">
      <label for = "email">Email:</label>
      <input id="email" type="email" [formControlName]="'email'">
      <div class="form-erorr" *ngIf="entranceForm.controls['email'].invalid">
        Обязательно для заполнения
      </div>
    </div>

    <div class="form-control">
      <label for = "password">Password:</label>
      <input id="password" type="password" [formControlName]="'password'" >
      <div class="form-erorr" *ngIf="entranceForm.controls['password'].invalid">
        Обязательно для заполнения
      </div>
    </div>

  </div>

  <button
    type="submit"
    class="btn"
    [disabled]="entranceForm.invalid || submitted">
    Войти</button>
</form>




