*{
  margin: 0;
}
.menu{
  height: 100%;
  width: 16%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
}
.main-body{
  height: 100%;
  width: 84%;
  position: fixed;
  top: 0;
  right: 0;
  background: #F5F7FB;
  overflow: hidden;

}
