<body>
<ng-template #dynamic></ng-template>
<div class="check">
  <div class="expenses block" (click)="showDynamicComponent('Расходы')" >
    <h1>expenses</h1>
  </div>
  <div class="balance block" >
    <div class="vivod"></div>
  </div>
  <div class="income block" (click)="showDynamicComponent('Доходы')" type="income">
    <h1>income</h1>
  </div>
</div>
<div class="bar-graph block">
  <h1>"bar-grap</h1>
</div>
<div class="expenses-categories ">
  <div class="basic-expenses block">
    <h1>basic-expenses</h1>
  </div>
  <div class="categories block">
    <h1>categories</h1>
  </div>
</div>
</body>

